body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: rgb(255, 206, 188); 
    color: #285479;
    margin: 15pt; 
}

h1 {
    font-size: 25pt;
    color: rgb(90, 57, 57); 
    font-weight: bold;
}

h2 {
    font-size: 20pt;
    color: #285479; 
}

p {
    font-size: 12pt;
    color: #2c516c; 
}
li {
    font-size: 12pt;
    color: #862277; 
}

a {
    text-decoration: none;
    color: #008b8b; /* Dark cyan for non-visited and visited links */
}

a:hover {
    text-decoration: underline;
    color: #ff6347; /* Tomato color on hover */
}

a:active {
    text-decoration: underline;
    color: #ff4500; /* Orange-red color when active */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
