body {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    background-color: rgb(188, 188, 187); 
    color: #7248d4;
    margin: 15pt; 
}
body,html{height:100%;}
nav{
background-color: #f79F79;
position: absolute;
width: 150px;
height: 100%;
}
nav a{
padding: 15px;
display: block;
font-size: 25pt;
color: #58355E;
}
nav a:hover{
color: #f1f1f1;
}

/* Dropdown Button */
.dropbtn {
    font-size: 20px;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
    position: relative;
    float: right;
    display: inline-block;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
    display: block; /*block display allows vertical item alignment*/
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks
    on the dropdown button) */
    .show {display:block;}
h1 {
    font-size: 25pt;
    color: rgb(90, 57, 57); 
    font-weight: bold;
}

h2 {
    font-size: 20pt;
    color: #285479; 
}


p {
    font-size: 12pt;
    color: #2c516c; 
}
li {
    font-size: 12pt;
    color: #c405a7; 
}


a {
    text-decoration: none;
    color: #008b8b; 
}

a:hover {
    text-decoration: underline;
    color: #ff6347; /* Tomato color on hover */
}

a:active {
    text-decoration: underline;
    color: #ff4500; /* Orange-red color when active */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.text-wrapper {
    padding: 15px;
    background-color: #f5f5f5; 
    border: 1px solid #ddd;
    margin-bottom: 20px;
}



@media screen and (max-width: 768px) {
    body {
        margin: 5pt;
    }
    
    table {
        width: 100%;
    }
    body,html{height:100%;}



}
